.PlanScreen_plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  opacity: 0.8;
}
.renewal {
  padding: 10px;
}
.PlanScreen_plans--disabled > button {
  color: black !important;
  background-color: #cbcbcb !important;
}
.PlanScreen_plans:hover {
  opacity: 1;
}
.planScreen__info > h5 {
  font-size: 1.8rem;
  font-weight: 700;
}
.planScreen__info > h6 {
  font-size: 1rem;
  font-weight: 300;
}
.PlanScreen_plans > button {
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
}
.PlanScreen_plans > button:hover {
  background-color: #ff2c36;
}
