.row {
  color: #fff;
  padding: 20px;
  margin-left: 10px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-top: 10px;
}
.row__poster {
  width: 200px;
  margin: 10px 10px;
  object-fit: cover;
  transition: transform 450ms;
}
.row__poster:first-child {
  margin-left: 0px;
}
.row__poster:hover {
  transform: scale(1.1);
  opacity: 1;
}
